@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container {
  overflow: auto;
  -webkit-scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

.scroll-container,
.scroll-area {
  max-height: 700px;
}
